@charset "UTF-8";

$icon-font-path: '../fonts/';
$main-color : #f1341e;
$main-width : 1400px;
$notice-width: 1170px;
$bg-color: #e9ecf1;

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";
// endbower
h1,h2,h3,h4,h5,h6,ul,ol{
  padding: 0;
  margin: 0;
}

ul,ol{
  list-style: none;
}

a,a:hover{
  color: inherit;
  background: transparent !important;
}

.align-txt-center{
  text-align: center;
}

.align-txt-right{
  text-align: right;
}

.align-txt-left{
  text-align: left;
}

.txt-blue{
  color: blue;
}

.txt-red{
  color: red;
}

.txt-grey{
  color: grey;
}

.blind{
  display: none;
}

@mixin layout_align_center($width){
  width: $width;
  margin: 0 auto;
}

body{
  background: $bg-color;
  font-family: 'Nanum Gothic', sans-serif;
  color: #2b2b2b;
}

.header{
  background: $main-color;
  height: 62px;
  margin-bottom: 25px;

  .header-login-btn{
    display: inline-block;
    width: 76px;
    height: 32px;
    line-height: 32px;
    border: 1px solid #fff;
    border-radius: 2px;
    text-align: center;
    color: #fff;
    font-size: 13px;
    position: absolute;
    right: 0;
    top: 15px;
  }

  .header-register-btn{
    display: inline-block;
    width: 76px;
    height: 32px;
    line-height: 32px;
    border: 1px solid #fff;
    border-radius: 2px;
    text-align: center;
    color: #fff;
    font-size: 13px;
    position: absolute;
    right: 85px;
    top: 15px;
  }

  .header_inner{
    position: relative;
    @include layout_align_center($main-width);
  }

  .hd_logo{
    position: absolute;
    left: 10px;
    top: 10px;
  }

  .lg_link{
    font-size: 24px;
    color: #fff;
  }

  .nav{
    position: absolute;
    left: 260px;
    top : 12px;
  }

  .nav-list{
    float: left;
    width: 200px;
  }

  .nav-link{
    font-size: 16px;
    color: #ffc0c0;
    text-align: center;
  }

  .active{
    color: #fff;
    font-weight: bold;
  }


}

.footer{
  border-top: 1px solid #ddd;
  margin-top: 50px;
  background: #fff;
  //height: 40px;
  //line-height: 40px;
  color: #999;
  text-align: center;
  font-size: 12px;
  .footer_inner{
    padding: 20px 0 10px 0;
    @include layout_align_center($main-width);
  }

  .footer-nav{
    border-bottom: 1px solid #ddd;
  }

  .footer-menu{
    @include layout_align_center($main-width);
  }

  .footer-menu-list{
    float: left;
    border-right: 1px solid #ddd;
  }

  .footer-menu-list:first-child{
    border-left: 1px solid #ddd;
  }

  .footer-menu-link{
    display: inline-block;
    width: 232px;
    text-align: center;
    height: 44px;
    line-height: 44px;
    font-size: 14px;
    color: #2b2b2b;
    font-weight: bold;
  }

}

.main_content{
  @include layout_align_center($main-width);
}

.notice{
  @include layout_align_center($notice-width);

  .notice-left-menu{
    float: left;
    width: 200px;
    background: #fff;
  }

  .notice-content{
    float: left;
    width: 950px;
    margin-left: 20px;
    background: #fff;
    padding: 40px;
  }

  .notice-menu{
    padding: 15px 0 30px 0;
  }

  .notice-menu-hd{
    padding: 30px;
    font-weight: bold;
    font-size: 20px;
    background: #525f6e;
    color: #fff;
  }

  .notice-menu-link{
    display: block;
    font-size: 16px;
    color: #444;
    padding-left: 30px;
    height: 45px;
    line-height: 45px;
  }

  a.active, a.active:hover{
    background: #f5f6fa !important;
    color: $main-color;
    font-weight: bold;
  }

  .notice-content-hd{
    font-size: 27px;
    color: #2b2b2b
  }

  .notice-table{
    border-top: 2px solid #9b9fa8;
    border-bottom: 1px solid #ddd;
    margin-top: 20px;
    th{
      background: #f9fafc;
      padding: 15px;
      color: #756665;
    }
    td{
      padding: 15px;
    }
    a{
      color: #2b2b2b;
    }
  }
  .pagination{
    a, a:hover{
      border-color: #c1c1c1;
      color: #2b2b2b;
    }
    .active{
      a,a:hover{
        background: $main-color !important;
        color: #fff;
      }

    }
  }
  .content-write-date{
    display: block;
    margin-top: 10px;
  }

  .notice-content-pre{
    font-size: 14px;
    color: #666;
    background: #fff;
    border: none;
  }

  .notice-list-btn{
    display: inline-block;
    width: 100px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    color: #2b2b2b;
    border: 1px solid #95959e;
  }

  .fa-new{
    width: 15px;
    height: 15px;
    display: inline-block;
    background: $main-color;
    color: #fff;
    text-align: center;
    line-height: 15px;
    font-size: 10px;
    position: relative;
    top: -2px;
    left: 5px;
    border-radius: 2px;
  }

}

.exchange-area{


}

.exchange-area-table{

  .txt-tit{
    display: inline-block;
    color: #444;
    font-weight: bold;
  }

  .txt-grey{
    margin-left: 2px;
    font-size: 12px;
  }
  .fa-star-tb{
    position: relative;
    top: -7px !important;
    left: -7px;
    font-size: 14px !important;
  }

  thead{
    th{
      border-top: 1px solid #f9fafc !important;
      border-bottom: 1px solid #f9fafc !important;
    }
  }

  tbody{
    tr:first-child{
      td{
        border-top: none;
      }
    }
    tr:hover, tr.active{
      td{
        background: #f4f5f8;
      }
    }

  }
  th{
    font-size: 11px;
    text-align: center;
    background: #f9fafc;
    color: #666;
  }
  td{
    font-size: 13px;
    cursor: pointer;
    text-align: center;
    vertical-align: middle !important;
  }
}


.exchange-tab-menu{
  border-bottom: 1px solid #ddd;
}

.exchange-tab-menu-list{
  float: left;
  width: 20%;
}

.exchange-tab-menu-link{
  height: 43px;
  line-height: 43px;
  font-weight: bold;
  font-size: 14px;
  display: block;
  text-align: center;
  border-bottom: 3px solid #fff;
}

.exchange-tab-menu-active{
  border-color: $main-color;
}

.exchange-area-scroll{
  min-height: 480px;
  max-height: 900px;
  overflow-y: auto;
  overflow-x: hidden;
}

.exchange-area-left{
  width: 400px;
  background: #fff;
  float: left;

  .exchange-search-box{
    border-bottom: 1px solid #ddd;
    height: 42px;
  }

  .exchange-search-input{
    width: 296px;
    height: 42px;
    float: left;
    display: inline-block;
    border-right: 1px solid #ddd;
  }

  .input-search{
    border: 1px solid #fff;
    width: 245px;
    height: 35px;
    margin: 3px 3px 3px 10px ;
  }

  .exchange-search-link{
    width: 104px;
    height: 42px;
    float: left;
    display: inline-block;
    line-height: 42px;
    text-align: center;
  }

  .fa-search{
    font-size: 20px;
    color: #0766f0;
  }

  .fa-star{
    color: #d3d3d4;
    font-size: 18px;
    position: relative;
    top: 3px;
  }
}

.exchange-table-header{
  background: #f9fafc;
  border-bottom: 1px solid #ddd;
}

.exchange-table-header-list{
  float: left;
  width: 25%;
  text-align: center;
  font-size: 12px;
  color: #666;
  padding: 5px 0;
}

.exchange-area-content{
  float: left;
  margin-left: 15px;
  width: 985px;
}

.exchange-notice-short{
  background: #fff;
  .tit{
    padding: 10px;
    font-size: 15px;
    color: #000;
    position: relative;
  }
  .fa-exclamation-circle{
    font-size: 20px;
    position: relative;
    top: 2px;
  }

  .emphasis{
    color: $main-color;
    margin-right: 15px;
  }

  .close-btn{
    position: absolute;
    right: 10px;
    top: 10px;
    width: 20px;
    height: 20px;
    display: inline-block;
    font-weight: normal;
    text-align: center;
    line-height: 20px;
    color: #535150;
    font-size: 20px;
  }

}

.exchange-table-bottom{
  background: #fff;
  margin-top: 15px;
}

.exchange-table-bottom-tb{
  td{
    font-size: 12px;
    padding: 8px 20px !important;
    border: none !important;
  }
}

.exchange-table-bottom-scroll{
  overflow-y: auto;
  height: 363px;
}

.exchange-table-bottom-tab{
  border-bottom: 1px solid #ddd;
}

.exchange-table-bottom-tab-list{
  float: left;
  width: 33.3%;
}

.exchange-table-bottom-tab-link{
  display: block;
  text-align: center;
  height: 43px;
  line-height: 43px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

.exchange-table-bottom-tab-link-active{
  color: $main-color;
  border-bottom: 2px solid $main-color;
}

.exchange-table-bottom-tab-inner-list{
  float: left;
  width: 25%;
  height: 30px;
  font-size: 11px;
  line-height: 30px;
  padding: 0 20px;
}

.exchange-table-bottom-tab-inner-list:nth-child(3){
  text-indent: 50px;
}

.exchange-table-bottom-tab-inner{
  background: #f9fafc;
  border-bottom: 1px solid #e8e8eb;
}

.login-area{
  background: #fff;
  padding: 50px;
  margin-top: 80px !important;
  margin-bottom: 80px !important;
  @include layout_align_center(532px);

  .login-kakao-btn{
    display: block;
    height: 52px;
    line-height: 52px;
    text-align: center;
    background: #ffdc00 !important;
    color: #3c1e1e;
    font-size: 16px;
    font-weight: bold;
  }
  .fa-comment{
    font-size: 22px;
    position: relative;
    top: 2px;
    left: -4px;
  }

  .kakao-info{
    width: 400px;
    margin-top: 30px;
    margin-left: 20px;
    li{
      margin-bottom: 10px;
      font-size: 13px;
      color: #999;
      list-style: circle;
      position: relative;
    }
    .confirmation-btn{
      position: absolute;
      right: 0;
      top: 0;
      color: #444;
      text-decoration: underline;
    }
  }
}