<!doctype html>
<html class="no-js" lang="ko">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>bitcoin mockup</title>

    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

    <!-- Place favicon.ico in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->

    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

  </head>
  <body>

  	<div class="header">
		<div class="header_inner">
			<h1 class="hd_logo">
				<a href="index.html" class="lg_link">가상화폐거래소</a>
			</h1>
			<ul class="nav">
				<li class="nav-list">
					<a href="index.html" class="nav-link">거래소</a>
				</li>
				<li class="nav-list">
					<a href="./balance.html" class="nav-link active">입출금</a>
				</li>
				<li class="nav-list">
					<a href="history.html" class="nav-link">투자내역</a>
				</li>
				<li class="nav-list">
					<a href="./notice.html" class="nav-link">고객센터</a>
				</li>
			</ul>
			<a href="./login.html" class="header-login-btn">로그인</a>
			<a href="./register.html" class="header-register-btn">회원가입</a>
		</div>
	</div>

    <div class="main_content">
		<div class="exchange-area clearfix">

			<!-- 좌측 공통 영역 -->
			<div class="exchange-area-left">
				<div class="exchange-search-box clearfix">
					<div class="exchange-search-input">
						<input type="text" class="input-search" placeholder="코인명/심볼검색" autocomplete="off" />
						<a href="#">
							<i class="fa fa-search"></i>
						</a>
					</div>
					<div class="exchange-search-link">
						<a href="#"><i class="fa fa-star"></i> 관심코인</a>
					</div>
				</div>

				<ol class="exchange-tab-menu clearfix">
					<li class="exchange-tab-menu-list">
						<a href="#none" class="exchange-tab-menu-link exchange-tab-menu-active">원화거래</a>
					</li>
					<li class="exchange-tab-menu-list">
						<a href="#none" class="exchange-tab-menu-link">BTC</a>
					</li>
					<li class="exchange-tab-menu-list">
						<a href="#none" class="exchange-tab-menu-link">ETH</a>
					</li>
					<li class="exchange-tab-menu-list">
						<a href="#none" class="exchange-tab-menu-link">USDT</a>
					</li>
					<li class="exchange-tab-menu-list">
						<a href="#none" class="exchange-tab-menu-link">보유코인</a>
					</li>
				</ol>

				<ol class="exchange-table-header clearfix">
					<li class="exchange-table-header-list">한글명</li>
					<li class="exchange-table-header-list">현재가</li>
					<li class="exchange-table-header-list">전일대비</li>
					<li class="exchange-table-header-list">거래대금</li>
				</ol>

				<ol class="exchange-table-header clearfix blind">
					<li class="exchange-table-header-list">코인명</li>
					<li class="exchange-table-header-list">보유(평가금)</li>
					<li class="exchange-table-header-list">매수평균가</li>
					<li class="exchange-table-header-list">수익률</li>
				</ol>

				<div class="exchange-area-scroll">
					<table class="table exchange-area-table">
						<colgroup>
							<col width="110" />
							<col width="110" />
							<col width="80" />
							<col width="*" />
						</colgroup>
						<thead class="blind">
						<tr>
							<th>한글명</th>
							<th>현재가</th>
							<th>전일대비</th>
							<th>거래대금</th>
						</tr>
						</thead>
						<tbody v-cloak id="left-data-exchange">
						<tr v-for="item in items">
							<td>
								<i class="fa fa-star fa-star-tb"></i>
								<span class="txt-tit">
									{{item.title}}<br />
								<small>{{item.unit}}</small>
							</span>
							</td>
							<td v-if="item.status == 'up'">
								<span class="txt-red bold">{{item.currentPrice}}</span>
							</td>
							<td v-else-if="item.status == 'down'">
								<span class="txt-blue bold">{{item.currentPrice}}</span>
							</td>

							<td v-if="item.status == 'up'">
								<span class="txt-red bold">{{item.compareRatio}}</span>
							</td>
							<td v-else-if="item.status == 'down'">
								<span class="txt-blue bold">{{item.compareRatio}}</span>
							</td>

							<td>
								{{item.price}}<span class="txt-grey">백만</span>
							</td>
						</tr>
						</tbody>
					</table>
					<table class="table exchange-area-table blind">
						<colgroup>
							<col width="110" />
							<col width="110" />
							<col width="80" />
							<col width="*" />
						</colgroup>
						<thead class="blind">
						<tr>
							<th>한글명</th>
							<th>현재가</th>
							<th>전일대비</th>
							<th>거래대금</th>
						</tr>
						</thead>
						<tbody v-cloak id="left-data-btc">
						<tr v-for="item in items">
							<td>
								<i class="fa fa-star fa-star-tb"></i>
								<span class="txt-tit">
									{{item.title}}<br />
								<small>{{item.unit}}</small>
							</span>
							</td>
							<td v-if="item.status == 'up'">
								<span class="txt-red bold">
									{{item.currentPrice}}<br />
									<small class="txt-grey">{{item.krw}} <span class="unit">KRW</span></small>
								</span>
							</td>
							<td v-else-if="item.status == 'down'">
								<span class="txt-blue bold">
									{{item.currentPrice}}<br />
									<small class="txt-grey">{{item.krw}} <span class="unit">KRW</span></small>
								</span>
							</td>

							<td v-if="item.status == 'up'">
								<span class="txt-red bold">{{item.compareRatio}}</span>
							</td>
							<td v-else-if="item.status == 'down'">
								<span class="txt-blue bold">{{item.compareRatio}}</span>
							</td>

							<td>
								{{item.price}}<span class="txt-grey">백만</span>
							</td>
						</tr>
						</tbody>
					</table>
					<table class="table exchange-area-table blind">
						<colgroup>
							<col width="110" />
							<col width="110" />
							<col width="80" />
							<col width="*" />
						</colgroup>
						<thead class="blind">
						<tr>
							<th>한글명</th>
							<th>현재가</th>
							<th>전일대비</th>
							<th>거래대금</th>
						</tr>
						</thead>
						<tbody v-cloak id="left-data-eth">
						<tr v-for="item in items">
							<td>
								<i class="fa fa-star fa-star-tb"></i>
								<span class="txt-tit">
									{{item.title}}<br />
								<small>{{item.unit}}</small>
							</span>
							</td>
							<td v-if="item.status == 'up'">
								<span class="txt-red bold">
									{{item.currentPrice}}<br />
									<small class="txt-grey">{{item.krw}} <span class="unit">KRW</span></small>
								</span>
							</td>
							<td v-else-if="item.status == 'down'">
								<span class="txt-blue bold">
									{{item.currentPrice}}<br />
									<small class="txt-grey">{{item.krw}} <span class="unit">KRW</span></small>
								</span>
							</td>

							<td v-if="item.status == 'up'">
								<span class="txt-red bold">{{item.compareRatio}}</span>
							</td>
							<td v-else-if="item.status == 'down'">
								<span class="txt-blue bold">{{item.compareRatio}}</span>
							</td>

							<td>
								{{item.price}}<span class="txt-grey">백만</span>
							</td>
						</tr>
						</tbody>
					</table>
					<table class="table exchange-area-table blind">
						<colgroup>
							<col width="110" />
							<col width="110" />
							<col width="80" />
							<col width="*" />
						</colgroup>
						<thead class="blind">
						<tr>
							<th>한글명</th>
							<th>현재가</th>
							<th>전일대비</th>
							<th>거래대금</th>
						</tr>
						</thead>
						<tbody>
						<tr class="active">
							<td>
								<i class="fa fa-star fa-star-tb"></i>

								<span class="txt-tit">
								비트코인<br />
								<small>BTC/KRW</small>
							</span>
							</td>
							<td>
								<span class="txt-blue">10,364,000</span>
							</td>
							<td>
								<span class="txt-red">-0.56%</span>
							</td>
							<td>
								333,380<span class="txt-grey">백만</span>
							</td>
						</tr>
						<tr>
							<td>
								<i class="fa fa-star fa-star-tb"></i>

								<span class="txt-tit">
								이더리움<br />
								<small>BTC/KRW</small>
							</span>
							</td>
							<td>
								10,364,000
							</td>
							<td>
								-0.56%
							</td>
							<td>
								333,380<span class="txt-grey">백만</span>
							</td>
						</tr>
						<tr >
							<td>
								<i class="fa fa-star fa-star-tb"></i>

								<span class="txt-tit">
								네오<br />
								<small>BTC/KRW</small>
							</span>
							</td>
							<td>
								<span class="txt-blue">10,364,000</span>
							</td>
							<td>
								<span class="txt-red">-0.56%</span>
							</td>
							<td>
								333,380<span class="txt-grey">백만</span>
							</td>
						</tr>
						<tr>
							<td>
								<i class="fa fa-star fa-star-tb"></i>

								<span class="txt-tit">
								리플<br />
								<small>BTC/KRW</small>
							</span>
							</td>
							<td>
								10,364,000
							</td>
							<td>
								-0.56%
							</td>
							<td>
								333,380<span class="txt-grey">백만</span>
							</td>
						</tr>
						<tr >
							<td>
								<i class="fa fa-star fa-star-tb"></i>

								<span class="txt-tit">
								라이트코인<br />
								<small>BTC/KRW</small>
							</span>
							</td>
							<td>
								<span class="txt-blue">10,364,000</span>
							</td>
							<td>
								<span class="txt-red">-0.56%</span>
							</td>
							<td>
								333,380<span class="txt-grey">백만</span>
							</td>
						</tr>
						<tr>
							<td>
								<i class="fa fa-star fa-star-tb"></i>

								<span class="txt-tit">
								이더리움클래식<br />
								<small>BTC/KRW</small>
							</span>
							</td>
							<td>
								10,364,000
							</td>
							<td>
								-0.56%
							</td>
							<td>
								333,380<span class="txt-grey">백만</span>
							</td>
						</tr>
						<tr >
							<td>
								<i class="fa fa-star fa-star-tb"></i>

								<span class="txt-tit">
								에이다<br />
								<small>BTC/KRW</small>
							</span>
							</td>
							<td>
								<span class="txt-blue">10,364,000</span>
							</td>
							<td>
								<span class="txt-red">-0.56%</span>
							</td>
							<td>
								333,380<span class="txt-grey">백만</span>
							</td>
						</tr>
						<tr>
							<td>
								<i class="fa fa-star fa-star-tb"></i>

								<span class="txt-tit">
								모네로<br />
								<small>BTC/KRW</small>
							</span>
							</td>
							<td>
								10,364,000
							</td>
							<td>
								-0.56%
							</td>
							<td>
								333,380<span class="txt-grey">백만</span>
							</td>
						</tr>
						<tr >
							<td>
								<i class="fa fa-star fa-star-tb"></i>

								<span class="txt-tit">
								비트코인캐시<br />
								<small>BTC/KRW</small>
							</span>
							</td>
							<td>
								<span class="txt-blue">10,364,000</span>
							</td>
							<td>
								<span class="txt-red">-0.56%</span>
							</td>
							<td>
								333,380<span class="txt-grey">백만</span>
							</td>
						</tr>
						<tr>
							<td>
								<i class="fa fa-star fa-star-tb"></i>

								<span class="txt-tit">
								오미세고<br />
								<small>BTC/KRW</small>
							</span>
							</td>
							<td>
								10,364,000
							</td>
							<td>
								-0.56%
							</td>
							<td>
								333,380<span class="txt-grey">백만</span>
							</td>
						</tr>
						<tr >
							<td>
								<i class="fa fa-star fa-star-tb"></i>

								<span class="txt-tit">
								버지<br />
								<small>BTC/KRW</small>
							</span>
							</td>
							<td>
								<span class="txt-blue">10,364,000</span>
							</td>
							<td>
								<span class="txt-red">-0.56%</span>
							</td>
							<td>
								333,380<span class="txt-grey">백만</span>
							</td>
						</tr>
						<tr>
							<td>
								<i class="fa fa-star fa-star-tb"></i>

								<span class="txt-tit">
								비트코인골드<br />
								<small>BTC/KRW</small>
							</span>
							</td>
							<td>
								10,364,000
							</td>
							<td>
								-0.56%
							</td>
							<td>
								333,380<span class="txt-grey">백만</span>
							</td>
						</tr>
						<tr >
							<td>
								<i class="fa fa-star fa-star-tb"></i>

								<span class="txt-tit">
								지캐시<br />
								<small>BTC/KRW</small>
							</span>
							</td>
							<td>
								<span class="txt-blue">10,364,000</span>
							</td>
							<td>
								<span class="txt-red">-0.56%</span>
							</td>
							<td>
								333,380<span class="txt-grey">백만</span>
							</td>
						</tr>
						<tr>
							<td>
								<i class="fa fa-star fa-star-tb"></i>

								<span class="txt-tit">
								대시<br />
								<small>BTC/KRW</small>
							</span>
							</td>
							<td>
								10,364,000
							</td>
							<td>
								-0.56%
							</td>
							<td>
								333,380<span class="txt-grey">백만</span>
							</td>
						</tr>
						<tr >
							<td>
								<i class="fa fa-star fa-star-tb"></i>

								<span class="txt-tit">
								엔엑스티<br />
								<small>BTC/KRW</small>
							</span>
							</td>
							<td>
								<span class="txt-blue">10,364,000</span>
							</td>
							<td>
								<span class="txt-red">-0.56%</span>
							</td>
							<td>
								333,380<span class="txt-grey">백만</span>
							</td>
						</tr>
						</tbody>
					</table>
				</div>


			</div>
			<!-- // 좌측 공통 영역 -->

			<div class="exchange-area-content">
				<!-- 공지 -->
				<div class="exchange-notice-short">
					<h4 class="tit">
						<strong class="emphasis">
							<i class="fa fa-exclamation-circle"></i> 공지
						</strong>
					 	[이벤트]BTC/ETH/USDT 마켓 수수료 20% 페이백!
						<a href="#" class="close-btn">
							<i class="fa fa-times"></i>
						</a>
					</h4>
				</div>
				<!-- // 공지 -->


				<div class="balance-box clearfix">
					<div class="balance-box-assets">
						<h5 class="balance-assets-title clearfix">
							총 보유자산
							<span class="balance-amount pull-right">
								<string class="txt-red">0</string>
								<small class="unit">KRW</small>
							</span>
						</h5>

						<div class="balance-searchbox clearfix">
							<div class="balance-search-input">
								<input type="text" class="input-search" placeholder="코인명/심볼검색" autocomplete="off" />
								<a href="#">
									<i class="fa fa-search"></i>
								</a>
							</div>
							<div class="balance-search-link">
								<input type="checkbox" class="input_checkbox" id="check_my_asssets">
								<label for="check_my_asssets"> 보유코인만</label>
							</div>
						</div>

						<ul class="balance-assets-menu clearfix">
							<li class="balance-assets-menu-list">코인명</li>
							<li class="balance-assets-menu-list">보유준비중</li>
							<li class="balance-assets-menu-list">보유수량(평가금액)</li>
						</ul>

						<div class="balance-assets-list">
							<table class="table balance-assets-list-tb">
								<colgroup>
									<col width="170" />
									<col width="160" />
									<col width="140" />
									<col width="*" />
								</colgroup>
								<tr class="active">
									<td class="align-txt-left">
										<strong class="txt-black ico-left-bg">
											<strong class="txt-target-first">원화</strong><br />
											<small class="unit">KRW</small>
										</strong>
									</td>
									<td class="align-txt-right">
										<span class="bg_gauge">
											<span class="txt-black txt-percentage">0.00%</span>
											<span class="gauge-sky" style="width: 0%;"></span>
										</span>
									</td>
									<td class="align-txt-right">
										<strong class="txt-black">0</strong>
										<small class="unit">KRW</small>
									</td>
									<td class="align-txt-center">
										<span class="txt-green">입출금</span>
									</td>
								</tr>
								<tr>
									<td class="align-txt-left">
										<strong class="txt-black ico-left-bg">
											<strong class="txt-target-first">비트코인</strong><br />
											<small class="unit">BTC</small>
										</strong>
									</td>
									<td class="align-txt-right">
										<span class="bg_gauge">
											<span class="txt-black txt-percentage">0.00%</span>
											<span class="gauge-sky" style="width: 0%;"></span>
										</span>
									</td>
									<td class="align-txt-right">
										<strong class="txt-black">0</strong>
										<small class="unit">BTC</small>
									</td>
									<td class="align-txt-center">
										<span class="txt-green">입출금</span>
									</td>
								</tr>
								<tr>
									<td class="align-txt-left">
										<strong class="txt-black ico-left-bg">
											<strong class="txt-target-first">이더리움</strong><br />
											<small class="unit">ETH</small>
										</strong>
									</td>
									<td class="align-txt-right">
										<span class="bg_gauge">
											<span class="txt-black txt-percentage">0.00%</span>
											<span class="gauge-sky" style="width: 0%;"></span>
										</span>
									</td>
									<td class="align-txt-right">
										<strong class="txt-black">0</strong>
										<small class="unit">ETH</small>
									</td>
									<td class="align-txt-center">
										<span class="txt-green">입출금</span>
									</td>
								</tr>
								<tr>
									<td class="align-txt-left">
										<strong class="txt-black ico-left-bg">
											<strong class="txt-target-first">오미세고</strong><br />
											<small class="unit">OMG</small>
										</strong>
									</td>
									<td class="align-txt-right">
										<span class="bg_gauge">
											<span class="txt-black txt-percentage">0.00%</span>
											<span class="gauge-sky" style="width: 0%;"></span>
										</span>
									</td>
									<td class="align-txt-right">
										<strong class="txt-black">0</strong>
										<small class="unit">OMG</small>
									</td>
									<td class="align-txt-center">
										<span class="txt-green">입출금</span>
									</td>
								</tr>
								<tr>
									<td class="align-txt-left">
										<strong class="txt-black ico-left-bg">
											<strong class="txt-target-first">텐엑스페이토큰</strong><br />
											<small class="unit">PAY</small>
										</strong>
									</td>
									<td class="align-txt-right">
										<span class="bg_gauge">
											<span class="txt-black txt-percentage">0.00%</span>
											<span class="gauge-sky" style="width: 0%;"></span>
										</span>
									</td>
									<td class="align-txt-right">
										<strong class="txt-black">0</strong>
										<small class="unit">PAY</small>
									</td>
									<td class="align-txt-center">
										<span class="txt-green">입출금</span>
									</td>
								</tr>
								<tr>
									<td class="align-txt-left">
										<strong class="txt-black ico-left-bg">
											<strong class="txt-target-first">이더리움클래식</strong><br />
											<small class="unit">ETC</small>
										</strong>
									</td>
									<td class="align-txt-right">
										<span class="bg_gauge">
											<span class="txt-black txt-percentage">0.00%</span>
											<span class="gauge-sky" style="width: 0%;"></span>
										</span>
									</td>
									<td class="align-txt-right">
										<strong class="txt-black">0</strong>
										<small class="unit">ETC</small>
									</td>
									<td class="align-txt-center">
										<span class="txt-green">입출금</span>
									</td>
								</tr>
								<tr>
									<td class="align-txt-left">
										<strong class="txt-black ico-left-bg">
											<strong class="txt-target-first">리플</strong><br />
											<small class="unit">XRP</small>
										</strong>
									</td>
									<td class="align-txt-right">
										<span class="bg_gauge">
											<span class="txt-black txt-percentage">0.00%</span>
											<span class="gauge-sky" style="width: 0%;"></span>
										</span>
									</td>
									<td class="align-txt-right">
										<strong class="txt-black">0</strong>
										<small class="unit">XRP</small>
									</td>
									<td class="align-txt-center">
										<span class="txt-green">입출금</span>
									</td>
								</tr>
								<tr>
									<td class="align-txt-left">
										<strong class="txt-black ico-left-bg">
											<strong class="txt-target-first">피벡스</strong><br />
											<small class="unit">PIVX</small>
										</strong>
									</td>
									<td class="align-txt-right">
										<span class="bg_gauge">
											<span class="txt-black txt-percentage">0.00%</span>
											<span class="gauge-sky" style="width: 0%;"></span>
										</span>
									</td>
									<td class="align-txt-right">
										<strong class="txt-black">0</strong>
										<small class="unit">PIVX</small>
									</td>
									<td class="align-txt-center">
										<span class="txt-green">입출금</span>
									</td>
								</tr>
								<tr>
									<td class="align-txt-left">
										<strong class="txt-black ico-left-bg">
											<strong class="txt-target-first">리피오크레딧네트워크</strong><br />
											<small class="unit">RCN</small>
										</strong>
									</td>
									<td class="align-txt-right">
										<span class="bg_gauge">
											<span class="txt-black txt-percentage">0.00%</span>
											<span class="gauge-sky" style="width: 0%;"></span>
										</span>
									</td>
									<td class="align-txt-right">
										<strong class="txt-black">0</strong>
										<small class="unit">RCN</small>
									</td>
									<td class="align-txt-center">
										<span class="txt-green">입출금</span>
									</td>
								</tr>
								<tr>
									<td class="align-txt-left">
										<strong class="txt-black ico-left-bg">
											<strong class="txt-target-first">루프링</strong><br />
											<small class="unit">LRC</small>
										</strong>
									</td>
									<td class="align-txt-right">
										<span class="bg_gauge">
											<span class="txt-black txt-percentage">0.00%</span>
											<span class="gauge-sky" style="width: 0%;"></span>
										</span>
									</td>
									<td class="align-txt-right">
										<strong class="txt-black">0</strong>
										<small class="unit">LRC</small>
									</td>
									<td class="align-txt-center">
										<span class="txt-green">입출금</span>
									</td>
								</tr>
								<tr>
									<td class="align-txt-left">
										<strong class="txt-black ico-left-bg">
											<strong class="txt-target-first">블록틱스</strong><br />
											<small class="unit">TIX</small>
										</strong>
									</td>
									<td class="align-txt-right">
										<span class="bg_gauge">
											<span class="txt-black txt-percentage">0.00%</span>
											<span class="gauge-sky" style="width: 0%;"></span>
										</span>
									</td>
									<td class="align-txt-right">
										<strong class="txt-black">0</strong>
										<small class="unit">TIX</small>
									</td>
									<td class="align-txt-center">
										<span class="txt-green">입출금</span>
									</td>
								</tr>
								<tr>
									<td class="align-txt-left">
										<strong class="txt-black ico-left-bg">
											<strong class="txt-target-first">블록메이슨</strong><br />
											<small class="unit">BCPT</small>
										</strong>
									</td>
									<td class="align-txt-right">
										<span class="bg_gauge">
											<span class="txt-black txt-percentage">0.00%</span>
											<span class="gauge-sky" style="width: 0%;"></span>
										</span>
									</td>
									<td class="align-txt-right">
										<strong class="txt-black">0</strong>
										<small class="unit">BCPT</small>
									</td>
									<td class="align-txt-center">
										<span class="txt-green">입출금</span>
									</td>
								</tr>
								<tr>
									<td class="align-txt-left">
										<strong class="txt-black ico-left-bg">
											<strong class="txt-target-first">엣지리스</strong><br />
											<small class="unit">EDG</small>
										</strong>
									</td>
									<td class="align-txt-right">
										<span class="bg_gauge">
											<span class="txt-black txt-percentage">0.00%</span>
											<span class="gauge-sky" style="width: 0%;"></span>
										</span>
									</td>
									<td class="align-txt-right">
										<strong class="txt-black">0</strong>
										<small class="unit">EDG</small>
									</td>
									<td class="align-txt-center">
										<span class="txt-green">입출금</span>
									</td>
								</tr>
								<tr>
									<td class="align-txt-left">
										<strong class="txt-black ico-left-bg">
											<strong class="txt-target-first">블록브이</strong><br />
											<small class="unit">VEE</small>
										</strong>
									</td>
									<td class="align-txt-right">
										<span class="bg_gauge">
											<span class="txt-black txt-percentage">0.00%</span>
											<span class="gauge-sky" style="width: 0%;"></span>
										</span>
									</td>
									<td class="align-txt-right">
										<strong class="txt-black">0</strong>
										<small class="unit">VEE</small>
									</td>
									<td class="align-txt-center">
										<span class="txt-green">입출금</span>
									</td>
								</tr>
								<tr>
									<td class="align-txt-left">
										<strong class="txt-black ico-left-bg">
											<strong class="txt-target-first">스팀달러</strong><br />
											<small class="unit">SBD</small>
										</strong>
									</td>
									<td class="align-txt-right">
										<span class="bg_gauge">
											<span class="txt-black txt-percentage">0.00%</span>
											<span class="gauge-sky" style="width: 0%;"></span>
										</span>
									</td>
									<td class="align-txt-right">
										<strong class="txt-black">0</strong>
										<small class="unit">SBD</small>
									</td>
									<td class="align-txt-center">
										<span class="txt-green">입출금</span>
									</td>
								</tr>
								<tr>
									<td class="align-txt-left">
										<strong class="txt-black ico-left-bg">
											<strong class="txt-target-first">애드액스</strong><br />
											<small class="unit">ADX</small>
										</strong>
									</td>
									<td class="align-txt-right">
										<span class="bg_gauge">
											<span class="txt-black txt-percentage">0.00%</span>
											<span class="gauge-sky" style="width: 0%;"></span>
										</span>
									</td>
									<td class="align-txt-right">
										<strong class="txt-black">0</strong>
										<small class="unit">ADX</small>
									</td>
									<td class="align-txt-center">
										<span class="txt-green">입출금</span>
									</td>
								</tr>
								<tr>
									<td class="align-txt-left">
										<strong class="txt-black ico-left-bg">
											<strong class="txt-target-first">스트라티스</strong><br />
											<small class="unit">STRAT</small>
										</strong>
									</td>
									<td class="align-txt-right">
										<span class="bg_gauge">
											<span class="txt-black txt-percentage">0.00%</span>
											<span class="gauge-sky" style="width: 0%;"></span>
										</span>
									</td>
									<td class="align-txt-right">
										<strong class="txt-black">0</strong>
										<small class="unit">STRAT</small>
									</td>
									<td class="align-txt-center">
										<span class="txt-green">입출금</span>
									</td>
								</tr>
								<tr>
									<td class="align-txt-left">
										<strong class="txt-black ico-left-bg">
											<strong class="txt-target-first">어거</strong><br />
											<small class="unit">REP</small>
										</strong>
									</td>
									<td class="align-txt-right">
										<span class="bg_gauge">
											<span class="txt-black txt-percentage">0.00%</span>
											<span class="gauge-sky" style="width: 0%;"></span>
										</span>
									</td>
									<td class="align-txt-right">
										<strong class="txt-black">0</strong>
										<small class="unit">REP</small>
									</td>
									<td class="align-txt-center">
										<span class="txt-green">입출금</span>
									</td>
								</tr>
								<tr>
									<td class="align-txt-left">
										<strong class="txt-black ico-left-bg">
											<strong class="txt-target-first">네오</strong><br />
											<small class="unit">NEO</small>
										</strong>
									</td>
									<td class="align-txt-right">
										<span class="bg_gauge">
											<span class="txt-black txt-percentage">0.00%</span>
											<span class="gauge-sky" style="width: 0%;"></span>
										</span>
									</td>
									<td class="align-txt-right">
										<strong class="txt-black">0</strong>
										<small class="unit">NEO</small>
									</td>
									<td class="align-txt-center">
										<span class="txt-green">입출금</span>
									</td>
								</tr>
								<tr>
									<td class="align-txt-left">
										<strong class="txt-black ico-left-bg">
											<strong class="txt-target-first">솔트</strong><br />
											<small class="unit">SALT</small>
										</strong>
									</td>
									<td class="align-txt-right">
										<span class="bg_gauge">
											<span class="txt-black txt-percentage">0.00%</span>
											<span class="gauge-sky" style="width: 0%;"></span>
										</span>
									</td>
									<td class="align-txt-right">
										<strong class="txt-black">0</strong>
										<small class="unit">SALT</small>
									</td>
									<td class="align-txt-center">
										<span class="txt-green">입출금</span>
									</td>
								</tr>
							</table>
						</div>
					</div>

					<!-- 보유 금액 칼럼 -->
					<div class="balance-box-current">
						<h5 class="balance-box-current-title clearfix">
							<strong class="txt-target-reflect">KRW 입출금</strong>
							<a href="#none" class="refresh-btn pull-right">
								<i class="fa fa-refresh"></i>
							</a>
						</h5>

						<div class="clearfix balance-box-amount">
							<strong class="txt-black">보유금액</strong>
							<span class="pull-right">
								<strong>0</strong>
								<span class="unit"></span>
							</span>
						</div>

						<ul class="balance-box-details">
							<li class="balance-box-details-list clearfix">
								<strong class="pull-left">거래대기</strong>
								<span class="pull-right">
									<strong>0</strong>
									<span class="unit">KRW</span>
								</span>
							</li>
							<li class="balance-box-details-list clearfix">
								<strong class="pull-left">출금가능</strong>
								<span class="pull-right">
									<strong>0</strong>
									<span class="unit">KRW</span>
								</span>
							</li>
						</ul>

						<ol class="balance-box-tab clearfix">
							<li class="balance-box-tab-list">
								<a href="#none" class="balance-box-tab-link balance-box-tab-link-active js-link-balance-link">입금주소</a>
							</li>
							<li class="balance-box-tab-list">
								<a href="#none" class="balance-box-tab-link js-link-balance-link">출금신청</a>
							</li>
							<li class="balance-box-tab-list">
								<a href="#none" class="balance-box-tab-link js-link-balance-link">입출금내역</a>
							</li>
						</ol>

						<div class="js-balance-tab balance-charge">
							<div class="balance-deal-box">
								<div class="txt align-txt-center">
									암호화폐 입금을 위해 본인인증이 필요합니다.
								</div>
								<a href="#" class="authenticate-btn">본인인증 바로가기</a>
							</div>
							<div class="balance-info">
								<div class="balance-info-inner">
									<p style="margin-top: 10px;">
										* 암호화폐 입금 주소는 보안등급 레벨2 부터 생성할 수 있습니다.<br /><br />
										* <strong>현재 회원님의 보안등급은 레벨0</strong>이며, 본인인증을 통해 보안
										등급을 상향할 수 있습니다.
									</p>
								</div>
							</div>
						</div>
						<div class="js-balance-tab balance-request blind">
							<div class="balance-deal-box">
								<div class="txt align-txt-center">
									KRW 출금은 보안등급 레벨3 부터 가능합니다.
								</div>
								<a href="#" class="authenticate-btn">보안등급 상황 바로가기</a>
							</div>
							<div class="balance-info">
								<div class="balance-info-inner">
									<p style="margin-top: 10px;">
										* KRW 포인트 충전은 보안등급 레벨3 부터 가능합니다.<br /><br />
										* 현재 회원님의 보안등급은 레벨0 입니다.
									</p>
								</div>
							</div>
						</div>
						<div class="js-balance-tab balance-history-box blind">
							<div class="balance-history-box-inner align-txt-right">
								<select name="" id="" class="selectbox">
									<option value="">전체</option>
									<option value="">입금</option>
									<option value="">출금</option>
								</select>
							</div>
							<div class="empty-history">
								과거 입출금 내역이 없습니다
							</div>
							<div class="balance-history-box-ft">* 전체 입출금 내역은 <strong class="txt-black">거래내역</strong> 화면에서 확인 가능합니다.</div>
						</div>
					</div>
					<!-- // 보유 금액 칼럼 -->
				</div>

			</div>
		</div>
	</div>


	<div class="footer">
		<div class="footer-nav">
			<ul class="footer-menu clearfix">
				<li class="footer-menu-list">
					<a href="notice.html" class="footer-menu-link">공지사항</a>
				</li>
				<li class="footer-menu-list">
					<a href="#" class="footer-menu-link">이용약관</a>
				</li>
				<li class="footer-menu-list">
					<a href="#" class="footer-menu-link">개인정보취급방침</a>
				</li>
				<li class="footer-menu-list">
					<a href="#" class="footer-menu-link">거래 및 입출금 이용안내</a>
				</li>
				<li class="footer-menu-list">
					<a href="#" class="footer-menu-link">자주하는 질문(FAQ)</a>
				</li>
				<li class="footer-menu-list">
					<a href="#" class="footer-menu-link">카카오톡 문의(24시간)</a>
				</li>
			</ul>
		</div>
		<div class="footer_inner">
			<address class="align-txt-center">COPYRIGHT 2017ⓒ가상화폐거래소. ALL RIGHT RESERVED.</address>
		</div>
	</div>

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/modernizr/modernizr.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.15/vue.min.js"></script>
    <!-- build:js scripts/main.js -->
    <script src="scripts/main.js"></script>
    <!-- endbuild -->
  </body>
</html>
