<!doctype html>
<html class="no-js" lang="ko">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>bitcoin mockup</title>

    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

    <!-- Place favicon.ico in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    
    <!-- build:js scripts/vendor/modernizr.js -->
    <!-- endbuild -->
  </head>
  <body>

  	<div class="header">
		<div class="header_inner">
			<h1 class="hd_logo">
				<a href="index.html" class="lg_link">가상화폐거래소</a>
			</h1>
			<ul class="nav">
				<li class="nav-list">
					<a href="index.html" class="nav-link">거래소</a>
				</li>
				<li class="nav-list">
					<a href="balance.html" class="nav-link">입출금</a>
				</li>
				<li class="nav-list">
					<a href="./history.html" class="nav-link active">투자내역</a>
				</li>
				<li class="nav-list">
					<a href="./notice.html" class="nav-link">고객센터</a>
				</li>
			</ul>
			<a href="./login.html" class="header-login-btn">로그인</a>
			<a href="register.html" class="header-register-btn">회원가입</a>
		</div>
	</div>

    <div class="main_content">
		<div class="exchange-area clearfix">

			<!-- 좌측 공통 영역 -->
			<div class="exchange-area-left">
				<div class="exchange-search-box clearfix">
					<div class="exchange-search-input">
						<input type="text" class="input-search" placeholder="코인명/심볼검색" autocomplete="off" />
						<a href="#">
							<i class="fa fa-search"></i>
						</a>
					</div>
					<div class="exchange-search-link">
						<a href="#"><i class="fa fa-star"></i> 관심코인</a>
					</div>
				</div>

				<ol class="exchange-tab-menu clearfix">
					<li class="exchange-tab-menu-list">
						<a href="#none" class="exchange-tab-menu-link exchange-tab-menu-active">원화거래</a>
					</li>
					<li class="exchange-tab-menu-list">
						<a href="#none" class="exchange-tab-menu-link">BTC</a>
					</li>
					<li class="exchange-tab-menu-list">
						<a href="#none" class="exchange-tab-menu-link">ETH</a>
					</li>
					<li class="exchange-tab-menu-list">
						<a href="#none" class="exchange-tab-menu-link">USDT</a>
					</li>
					<li class="exchange-tab-menu-list">
						<a href="#none" class="exchange-tab-menu-link">보유코인</a>
					</li>
				</ol>

				<ol class="exchange-table-header clearfix">
					<li class="exchange-table-header-list">한글명</li>
					<li class="exchange-table-header-list">현재가</li>
					<li class="exchange-table-header-list">전일대비</li>
					<li class="exchange-table-header-list">거래대금</li>
				</ol>

				<ol class="exchange-table-header clearfix blind">
					<li class="exchange-table-header-list">코인명</li>
					<li class="exchange-table-header-list">보유(평가금)</li>
					<li class="exchange-table-header-list">매수평균가</li>
					<li class="exchange-table-header-list">수익률</li>
				</ol>

				<div class="exchange-area-scroll">
					<table class="table exchange-area-table">
						<colgroup>
							<col width="110" />
							<col width="110" />
							<col width="80" />
							<col width="*" />
						</colgroup>
						<thead class="blind">
						<tr>
							<th>한글명</th>
							<th>현재가</th>
							<th>전일대비</th>
							<th>거래대금</th>
						</tr>
						</thead>
						<tbody v-cloak id="left-data-exchange">
						<tr v-for="item in items">
							<td>
								<i class="fa fa-star fa-star-tb"></i>
								<span class="txt-tit">
									{{item.title}}<br />
								<small>{{item.unit}}</small>
							</span>
							</td>
							<td v-if="item.status == 'up'">
								<span class="txt-red bold">{{item.currentPrice}}</span>
							</td>
							<td v-else-if="item.status == 'down'">
								<span class="txt-blue bold">{{item.currentPrice}}</span>
							</td>

							<td v-if="item.status == 'up'">
								<span class="txt-red bold">{{item.compareRatio}}</span>
							</td>
							<td v-else-if="item.status == 'down'">
								<span class="txt-blue bold">{{item.compareRatio}}</span>
							</td>

							<td>
								{{item.price}}<span class="txt-grey">백만</span>
							</td>
						</tr>
						</tbody>
					</table>
					<table class="table exchange-area-table blind">
						<colgroup>
							<col width="110" />
							<col width="110" />
							<col width="80" />
							<col width="*" />
						</colgroup>
						<thead class="blind">
						<tr>
							<th>한글명</th>
							<th>현재가</th>
							<th>전일대비</th>
							<th>거래대금</th>
						</tr>
						</thead>
						<tbody v-cloak id="left-data-btc">
						<tr v-for="item in items">
							<td>
								<i class="fa fa-star fa-star-tb"></i>
								<span class="txt-tit">
									{{item.title}}<br />
								<small>{{item.unit}}</small>
							</span>
							</td>
							<td v-if="item.status == 'up'">
								<span class="txt-red bold">
									{{item.currentPrice}}<br />
									<small class="txt-grey">{{item.krw}} <span class="unit">KRW</span></small>
								</span>
							</td>
							<td v-else-if="item.status == 'down'">
								<span class="txt-blue bold">
									{{item.currentPrice}}<br />
									<small class="txt-grey">{{item.krw}} <span class="unit">KRW</span></small>
								</span>
							</td>

							<td v-if="item.status == 'up'">
								<span class="txt-red bold">{{item.compareRatio}}</span>
							</td>
							<td v-else-if="item.status == 'down'">
								<span class="txt-blue bold">{{item.compareRatio}}</span>
							</td>

							<td>
								{{item.price}}<span class="txt-grey">백만</span>
							</td>
						</tr>
						</tbody>
					</table>
					<table class="table exchange-area-table blind">
						<colgroup>
							<col width="110" />
							<col width="110" />
							<col width="80" />
							<col width="*" />
						</colgroup>
						<thead class="blind">
						<tr>
							<th>한글명</th>
							<th>현재가</th>
							<th>전일대비</th>
							<th>거래대금</th>
						</tr>
						</thead>
						<tbody v-cloak id="left-data-eth">
						<tr v-for="item in items">
							<td>
								<i class="fa fa-star fa-star-tb"></i>
								<span class="txt-tit">
									{{item.title}}<br />
								<small>{{item.unit}}</small>
							</span>
							</td>
							<td v-if="item.status == 'up'">
								<span class="txt-red bold">
									{{item.currentPrice}}<br />
									<small class="txt-grey">{{item.krw}} <span class="unit">KRW</span></small>
								</span>
							</td>
							<td v-else-if="item.status == 'down'">
								<span class="txt-blue bold">
									{{item.currentPrice}}<br />
									<small class="txt-grey">{{item.krw}} <span class="unit">KRW</span></small>
								</span>
							</td>

							<td v-if="item.status == 'up'">
								<span class="txt-red bold">{{item.compareRatio}}</span>
							</td>
							<td v-else-if="item.status == 'down'">
								<span class="txt-blue bold">{{item.compareRatio}}</span>
							</td>

							<td>
								{{item.price}}<span class="txt-grey">백만</span>
							</td>
						</tr>
						</tbody>
					</table>
					<table class="table exchange-area-table blind">
						<colgroup>
							<col width="110" />
							<col width="110" />
							<col width="80" />
							<col width="*" />
						</colgroup>
						<thead class="blind">
						<tr>
							<th>한글명</th>
							<th>현재가</th>
							<th>전일대비</th>
							<th>거래대금</th>
						</tr>
						</thead>
						<tbody>
						<tr class="active">
							<td>
								<i class="fa fa-star fa-star-tb"></i>

								<span class="txt-tit">
								비트코인<br />
								<small>BTC/KRW</small>
							</span>
							</td>
							<td>
								<span class="txt-blue">10,364,000</span>
							</td>
							<td>
								<span class="txt-red">-0.56%</span>
							</td>
							<td>
								333,380<span class="txt-grey">백만</span>
							</td>
						</tr>
						<tr>
							<td>
								<i class="fa fa-star fa-star-tb"></i>

								<span class="txt-tit">
								이더리움<br />
								<small>BTC/KRW</small>
							</span>
							</td>
							<td>
								10,364,000
							</td>
							<td>
								-0.56%
							</td>
							<td>
								333,380<span class="txt-grey">백만</span>
							</td>
						</tr>
						<tr >
							<td>
								<i class="fa fa-star fa-star-tb"></i>

								<span class="txt-tit">
								네오<br />
								<small>BTC/KRW</small>
							</span>
							</td>
							<td>
								<span class="txt-blue">10,364,000</span>
							</td>
							<td>
								<span class="txt-red">-0.56%</span>
							</td>
							<td>
								333,380<span class="txt-grey">백만</span>
							</td>
						</tr>
						<tr>
							<td>
								<i class="fa fa-star fa-star-tb"></i>

								<span class="txt-tit">
								리플<br />
								<small>BTC/KRW</small>
							</span>
							</td>
							<td>
								10,364,000
							</td>
							<td>
								-0.56%
							</td>
							<td>
								333,380<span class="txt-grey">백만</span>
							</td>
						</tr>
						<tr >
							<td>
								<i class="fa fa-star fa-star-tb"></i>

								<span class="txt-tit">
								라이트코인<br />
								<small>BTC/KRW</small>
							</span>
							</td>
							<td>
								<span class="txt-blue">10,364,000</span>
							</td>
							<td>
								<span class="txt-red">-0.56%</span>
							</td>
							<td>
								333,380<span class="txt-grey">백만</span>
							</td>
						</tr>
						<tr>
							<td>
								<i class="fa fa-star fa-star-tb"></i>

								<span class="txt-tit">
								이더리움클래식<br />
								<small>BTC/KRW</small>
							</span>
							</td>
							<td>
								10,364,000
							</td>
							<td>
								-0.56%
							</td>
							<td>
								333,380<span class="txt-grey">백만</span>
							</td>
						</tr>
						<tr >
							<td>
								<i class="fa fa-star fa-star-tb"></i>

								<span class="txt-tit">
								에이다<br />
								<small>BTC/KRW</small>
							</span>
							</td>
							<td>
								<span class="txt-blue">10,364,000</span>
							</td>
							<td>
								<span class="txt-red">-0.56%</span>
							</td>
							<td>
								333,380<span class="txt-grey">백만</span>
							</td>
						</tr>
						<tr>
							<td>
								<i class="fa fa-star fa-star-tb"></i>

								<span class="txt-tit">
								모네로<br />
								<small>BTC/KRW</small>
							</span>
							</td>
							<td>
								10,364,000
							</td>
							<td>
								-0.56%
							</td>
							<td>
								333,380<span class="txt-grey">백만</span>
							</td>
						</tr>
						<tr >
							<td>
								<i class="fa fa-star fa-star-tb"></i>

								<span class="txt-tit">
								비트코인캐시<br />
								<small>BTC/KRW</small>
							</span>
							</td>
							<td>
								<span class="txt-blue">10,364,000</span>
							</td>
							<td>
								<span class="txt-red">-0.56%</span>
							</td>
							<td>
								333,380<span class="txt-grey">백만</span>
							</td>
						</tr>
						<tr>
							<td>
								<i class="fa fa-star fa-star-tb"></i>

								<span class="txt-tit">
								오미세고<br />
								<small>BTC/KRW</small>
							</span>
							</td>
							<td>
								10,364,000
							</td>
							<td>
								-0.56%
							</td>
							<td>
								333,380<span class="txt-grey">백만</span>
							</td>
						</tr>
						<tr >
							<td>
								<i class="fa fa-star fa-star-tb"></i>

								<span class="txt-tit">
								버지<br />
								<small>BTC/KRW</small>
							</span>
							</td>
							<td>
								<span class="txt-blue">10,364,000</span>
							</td>
							<td>
								<span class="txt-red">-0.56%</span>
							</td>
							<td>
								333,380<span class="txt-grey">백만</span>
							</td>
						</tr>
						<tr>
							<td>
								<i class="fa fa-star fa-star-tb"></i>

								<span class="txt-tit">
								비트코인골드<br />
								<small>BTC/KRW</small>
							</span>
							</td>
							<td>
								10,364,000
							</td>
							<td>
								-0.56%
							</td>
							<td>
								333,380<span class="txt-grey">백만</span>
							</td>
						</tr>
						<tr >
							<td>
								<i class="fa fa-star fa-star-tb"></i>

								<span class="txt-tit">
								지캐시<br />
								<small>BTC/KRW</small>
							</span>
							</td>
							<td>
								<span class="txt-blue">10,364,000</span>
							</td>
							<td>
								<span class="txt-red">-0.56%</span>
							</td>
							<td>
								333,380<span class="txt-grey">백만</span>
							</td>
						</tr>
						<tr>
							<td>
								<i class="fa fa-star fa-star-tb"></i>

								<span class="txt-tit">
								대시<br />
								<small>BTC/KRW</small>
							</span>
							</td>
							<td>
								10,364,000
							</td>
							<td>
								-0.56%
							</td>
							<td>
								333,380<span class="txt-grey">백만</span>
							</td>
						</tr>
						<tr >
							<td>
								<i class="fa fa-star fa-star-tb"></i>

								<span class="txt-tit">
								엔엑스티<br />
								<small>BTC/KRW</small>
							</span>
							</td>
							<td>
								<span class="txt-blue">10,364,000</span>
							</td>
							<td>
								<span class="txt-red">-0.56%</span>
							</td>
							<td>
								333,380<span class="txt-grey">백만</span>
							</td>
						</tr>
						</tbody>
					</table>
				</div>


			</div>
			<!-- // 좌측 공통 영역 -->

			<div class="exchange-area-content">
				<!-- 공지 -->
				<div class="exchange-notice-short">
					<h4 class="tit">
						<strong class="emphasis">
							<i class="fa fa-exclamation-circle"></i> 공지
						</strong>
					 	[이벤트]BTC/ETH/USDT 마켓 수수료 20% 페이백!
						<a href="#" class="close-btn">
							<i class="fa fa-times"></i>
						</a>
					</h4>
				</div>
				<!-- // 공지 -->

				<div class="invest-history">
					<ol class="invest-history-tab js-invest-history-tab clearfix">
						<li class="invest-history-tab-list">
							<a href="#none" class="invest-history-tab-link invest-history-tab-link-active">
								보유코인
							</a>
						</li>
						<li class="invest-history-tab-list">
							<a href="#none" class="invest-history-tab-link">
								거래내역
							</a>
						</li>
						<li class="invest-history-tab-list">
							<a href="#none" class="invest-history-tab-link">
								미체결
							</a>
						</li>
						<li class="invest-history-tab-list">
							<a href="#none" class="invest-history-tab-link">
								입출금대기
							</a>
						</li>
					</ol>

					<!-- 보유코인탭 정보 -->
					<div class="invest-history-tb-tab-info js-invest-history-info">
						<div class="info align-txt-right">
							* 매수평균가, 평가금액, 평가손익, 수익률은 모두 <strong class="txt-black">KRW로 환산한 추정값으로 참고용</strong>입니다.
						</div>

						<div class="invest-history-amount clearfix">
							<div class="invest-history-amount-list">
							<span class="invest-history-info clearfix">
								총매수금액
								<span class="pull-right">
									<strong class="txt-black">0</strong>
									<span class="unit">KRW</span>
								</span>
							</span>
								<span class="invest-history-info clearfix">
								총평가금액
								<span class="pull-right">
									<span class="unit">-</span>
								</span>
							</span>
							</div>
							<div class="invest-history-amount-list">
							<span class="invest-history-info clearfix">
								총매수금액
								<span class="pull-right">
									<strong class="txt-black">0</strong>
									<span class="unit">KRW</span>
								</span>
							</span>
								<span class="invest-history-info clearfix">
								총평가금액
								<span class="pull-right">
									<span class="unit">-</span>
								</span>
							</span>
							</div>
							<div class="invest-history-amount-list">
							<span class="invest-history-info clearfix">
								총매수금액
								<span class="pull-right">
									<strong class="txt-black">0</strong>
									<span class="unit">KRW</span>
								</span>
							</span>
								<span class="invest-history-info clearfix">
								총평가금액
								<span class="pull-right">
									<span class="unit">-</span>
								</span>
							</span>
							</div>
						</div>
						<ul class="invest-history-tb-tab clearfix">
							<li class="invest-history-tb-tab-list col-width-16">보유코인</li>
							<li class="invest-history-tb-tab-list col-width-16">보유수량</li>
							<li class="invest-history-tb-tab-list col-width-16">매수평균가</li>
							<li class="invest-history-tb-tab-list col-width-16">매수금액</li>
							<li class="invest-history-tb-tab-list col-width-16">평가금액</li>
							<li class="invest-history-tb-tab-list col-width-16">평가손익(%)</li>
						</ul>

						<div class="invest-history-tb-empty">
							현재 보유중인 코인이 없습니다.
						</div>
					</div>

					<!-- 거래내역탭 정보 -->
					<div class="invest-history-tb-tab-info js-invest-history-info blind">
						<div class="clearfix invest-history-tb-select">
							<select name="" id="" class="selectbox pull-right">
								<option value="">매수</option>
								<option value="">매도</option>
								<option value="">입금</option>
								<option value="">출금</option>
							</select>
						</div>

						<ul class="invest-history-tb-tab clearfix">
							<li class="invest-history-tb-tab-list col-width-125">주문시간</li>
							<li class="invest-history-tb-tab-list col-width-125">코인</li>
							<li class="invest-history-tb-tab-list col-width-125">거래종류</li>
							<li class="invest-history-tb-tab-list col-width-125">거래수량</li>
							<li class="invest-history-tb-tab-list col-width-125">거래단가</li>
							<li class="invest-history-tb-tab-list col-width-125">거래금액</li>
							<li class="invest-history-tb-tab-list col-width-125">수수료</li>
							<li class="invest-history-tb-tab-list col-width-125">정산금액(수수료반영)</li>
						</ul>

						<div class="invest-history-tb-empty">
							과거 거래내역이 없습니다.
						</div>
					</div>

					<!-- 미체결탭 정보 -->
					<div class="invest-history-tb-tab-info js-invest-history-info blind">
						<ul class="invest-history-tb-tab clearfix" style="border-top: none;">
							<li class="invest-history-tb-tab-list col-width-1428">시간</li>
							<li class="invest-history-tb-tab-list col-width-1428">마켓명</li>
							<li class="invest-history-tb-tab-list col-width-1428">거래종류</li>
							<li class="invest-history-tb-tab-list col-width-1428">주문가격</li>
							<li class="invest-history-tb-tab-list col-width-1428">주문수량</li>
							<li class="invest-history-tb-tab-list col-width-1428">체결수량</li>
							<li class="invest-history-tb-tab-list col-width-1428">미체결수량</li>
						</ul>

						<div class="invest-history-tb-empty">
							미체결 주문이 없습니다.
						</div>
					</div>

					<!-- 입출금대기탭 정보 -->
					<div class="invest-history-tb-tab-info js-invest-history-info blind">
						<ul class="invest-history-tb-tab clearfix" style="border-top: none;">
							<li class="invest-history-tb-tab-list col-width-16">신청 확인 시간</li>
							<li class="invest-history-tb-tab-list col-width-16">코인</li>
							<li class="invest-history-tb-tab-list col-width-16">거래종류</li>
							<li class="invest-history-tb-tab-list col-width-16">주문수량</li>
							<li class="invest-history-tb-tab-list col-width-16">거래ID</li>
							<li class="invest-history-tb-tab-list col-width-16">상태</li>
						</ul>

						<div class="invest-history-tb-empty">
							입출금 대기중인 내역이 없습니다.
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>


	<div class="footer">
		<div class="footer-nav">
			<ul class="footer-menu clearfix">
				<li class="footer-menu-list">
					<a href="notice.html" class="footer-menu-link">공지사항</a>
				</li>
				<li class="footer-menu-list">
					<a href="#" class="footer-menu-link">이용약관</a>
				</li>
				<li class="footer-menu-list">
					<a href="#" class="footer-menu-link">개인정보취급방침</a>
				</li>
				<li class="footer-menu-list">
					<a href="#" class="footer-menu-link">거래 및 입출금 이용안내</a>
				</li>
				<li class="footer-menu-list">
					<a href="#" class="footer-menu-link">자주하는 질문(FAQ)</a>
				</li>
				<li class="footer-menu-list">
					<a href="#" class="footer-menu-link">카카오톡 문의(24시간)</a>
				</li>
			</ul>
		</div>
		<div class="footer_inner">
			<address class="align-txt-center">COPYRIGHT 2017ⓒ가상화폐거래소. ALL RIGHT RESERVED.</address>
		</div>
	</div>

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/modernizr/modernizr.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    
    <!-- build:js scripts/plugins.js -->

    <!-- endbuild -->

	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.15/vue.min.js"></script>
    <!-- build:js scripts/main.js -->
    <script src="scripts/main.js"></script>
    <!-- endbuild -->
  </body>
</html>
